# Clerk Auth:
#NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
#CLERK_SECRET_KEY=

#NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
#NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
#NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/
#NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/

# Mysql DB:
#DATABASE_URL='mysql://j54d5s:isjsksk@aws.connect.psdb.cloud/name?sslaccept=strict'

# Uploadthing:
#UPLOADTHING_SECRET=
#UPLOADTHING_APP_ID=

# LiveKit:
#LIVEKIT_API_KEY=
#LIVEKIT_API_SECRET=
#NEXT_PUBLIC_LIVEKIT_URL=wss://project-name-12345.livekit.cloud

# Development (http://localhost:3000 is detected automatically)
#NEXT_PUBLIC_SITE_URL= --nothing--

# Production 
#NEXT_PUBLIC_SITE_URL=(Domain of Deployment)